html,body {
    background: #96E1F1;
    padding: 0px;
    margin: 0px;
    height: 100%;
    -webkit-text-size-adjust: none;
    font-family: Charter, Baskerville, Georgia;
    font-weight: bold;
}
canvas {
    vertical-align: middle;
}
.results {
    position: absolute;
    background: #D3F7FF;
    width: 100%;
    height: 70%;
    z-index: 10;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: none;
}
.results_show .results {
    display: block;
}
.game {
    background: #D3F7FF;
    width: 100%;
    height: 100%;
}
.logo {
    width: 50%;
    margin-top: 10%;
}
.score .logo {
    display: none;
}
.stats {
    display: none;
    color: #4D4D4D;
}
.you_scored {
    font-size: 180%;
    margin-top: 14%;
}
.score_num {
    font-size: 300%;
    font-weight: bold;
    margin-top: 2%;
}
.share_label {
    font-size: 36%;
}
.score .stats {
    display: block;
}
.score_coin {
    margin-top: 0.29em;
    height: 0.7em;
    width: 0.7em;
    display: inline-block;
    background: url(images/coin_big.png) center center;
    background-size: 100% 100%;
    background-position: center center;
    z-index: 100;
    margin-left: 1%;
}
.top_table {
    margin-top: 10%;
    padding-bottom: 5%;
}
.row {
    font-size: 120%;
    color: #4D4D4D;
    text-align: left;
    padding: 1% 4%;
    margin: 1% 6%;
    border-radius: 2%;
    border-radius: 0.3em;
}
.row.you {
    background: #FFFFFF;
}
.row_place {
    float: left;
    color: #88A0A6;
}
.row_score {
    float: right;
    display: inline-block;
}
.row_name {
    text-overflow: ellipsis;
    display: inline-block;
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
}
.scores_loading {
    font-size: 140%;
    color: #88A0A6;
}
